.ipt_box {
    width: 480px;
    height: 35px;
    outline: none;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 1rem;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 20px;
}

::placeholder {
    color: #999;
    opacity: .9;
}