.li {
    width: 480px;
    height: 35px;
    border: 1px solid #ddd;
    box-sizing: border-box;
    border-radius:2px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    label {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 10px;

        span {
            margin-left: 5px;
        }
    }

    .li_btn {
        display: none;
        width: 50px;
        height: 25px;
        margin-right: 20px;
        background: #e74c3c;
        border: 1px solid #ccc;
        border-radius: 2px;
        color: white;
        cursor: pointer;
    }
}
